<a href="https://colab.research.google.com/github/NihaRGali/data690_NihaGali/blob/main/assignment_08/in_class_practice_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# In Class Practice Session 8
- Professor : Wang
- Student   : Niha Reddy Gali
- Date      : 10-21-21

In [62]:
import pandas as pd
import plotly.express as px

In [63]:
df= pd.read_csv("/content/wdi_data.csv")
df.head()

   Unnamed: 0  Year        value  ...      Region Income Group Lending Type
0           0  2015  2087.305323  ...  South Asia   Low income          IDA
1           1  2016  1981.118069  ...  South Asia   Low income          IDA
2           2  2017  2058.400221  ...  South Asia   Low income          IDA
3           3  2018  2082.635648  ...  South Asia   Low income          IDA
4           4  2019  2152.366489  ...  South Asia   Low income          IDA

[5 rows x 9 columns]

In [64]:
df.sample(6)

      Unnamed: 0  Year  ...         Income Group    Lending Type
1319        1319  2019  ...           Low income             IDA
1790        1790  2019  ...          High income  Not classified
1828        1828  2017  ...          High income  Not classified
123          123  2016  ...  Lower middle income            IBRD
2473        2473  2015  ...  Upper middle income           Blend
4158        4158  2019  ...           Low income             IDA

[6 rows x 9 columns]

In [65]:
df_2019 = df.query("Year == 2019")

df_2019.sample(10)

      Unnamed: 0  Year  ...         Income Group    Lending Type
1595        1595  2019  ...  Upper middle income            IBRD
3658        3658  2019  ...          High income  Not classified
2813        2813  2019  ...           Low income             IDA
1590        1590  2019  ...          High income  Not classified
2699        2699  2019  ...          High income  Not classified
761          761  2019  ...  Lower middle income           Blend
1942        1942  2019  ...          High income  Not classified
3748        3748  2019  ...  Upper middle income            IBRD
1359        1359  2019  ...  Upper middle income            IBRD
3983        3983  2019  ...  Lower middle income             IDA

[10 rows x 9 columns]

In [66]:
df_2019 = df_2019.query("indicator in ['SP.DYN.LE00.IN', 'NY.GDP.PCAP.PP.CD','SP.POP.TOTL'] ")
df_2019

      Unnamed: 0  Year  ...         Income Group    Lending Type
4              4  2019  ...           Low income             IDA
10            10  2019  ...  Upper middle income            IBRD
16            16  2019  ...  Lower middle income            IBRD
22            22  2019  ...  Lower middle income            IBRD
28            28  2019  ...          High income            IBRD
...          ...   ...  ...                  ...             ...
3413        3413  2019  ...          High income  Not classified
3419        3419  2019  ...  Lower middle income  Not classified
3425        3425  2019  ...           Low income             IDA
3431        3431  2019  ...  Lower middle income             IDA
3437        3437  2019  ...  Lower middle income           Blend

[606 rows x 9 columns]

In [67]:
df_2019 = df_2019[df_2019["indicator"].isin(['SP.DYN.LE00.IN', 'NY.GDP.PCAP.PP.CD','SP.POP.TOTL'])]
df_2019

      Unnamed: 0  Year  ...         Income Group    Lending Type
4              4  2019  ...           Low income             IDA
10            10  2019  ...  Upper middle income            IBRD
16            16  2019  ...  Lower middle income            IBRD
22            22  2019  ...  Lower middle income            IBRD
28            28  2019  ...          High income            IBRD
...          ...   ...  ...                  ...             ...
3413        3413  2019  ...          High income  Not classified
3419        3419  2019  ...  Lower middle income  Not classified
3425        3425  2019  ...           Low income             IDA
3431        3431  2019  ...  Lower middle income             IDA
3437        3437  2019  ...  Lower middle income           Blend

[606 rows x 9 columns]

In [42]:
df_2019.drop(columns = ['Unnamed : 0','Year'], inplace = True)
df_2019.head()

KeyError: ignored

In [ ]:

df_2019.drop(columns = ['Unnamed : 0 ', 'Year'])

In [68]:
df_pivot =  df_2019.pivot_table(index=['Country Code', 'Country Name', 'Region','Income Group','Lending Type'], columns = 'indicator', values = 'value').reset_index()
df_pivot.head()

indicator Country Code Country Name  ... SP.DYN.LE00.IN SP.POP.TOTL
0                  ABW        Aruba  ...         76.293    106310.0
1                  AFG  Afghanistan  ...         64.833  38041757.0
2                  AGO       Angola  ...         61.147  31825299.0
3                  ALB      Albania  ...         78.573   2854191.0
4                  AND      Andorra  ...            NaN     77146.0

[5 rows x 8 columns]

In [69]:
fig = px.scatter(
    df_pivot,
    x="NY.GDP.PCAP.PP.CD",
    y="SP.DYN.LE00.IN",
    title = "Health vs wealth",
    labels = {"SP.DYN.LE00.IN":"Life Expectancy", "NY.GDP.PCAP.PP.CD":"GDP per Capita"},
    color ="Region",
    hover_name="Country Name",
    text="Country Name",
   
)

fig.update_traces(textposition='top center')

fig.show()

ValueError: ignored